<div class="main-content">
    <div class="my-container">
        <ngx-loading [show]="loading"></ngx-loading>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" >
                        <h4 class="title">Service Request(Req. ID - {{requestDetails['id']}})</h4>
                        <div *ngFor="let requestedData of requestDetails['requestData'] | values">
                            <div *ngFor="let serviceData of requestDetails['requestData'][requestedData] | values">
                                <p class="category">{{serviceData}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">

                            <div class="tab-pane active" id="new">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Name</strong>
                                                <p *ngIf="requestDetails.userDetails.contactDetails">{{requestDetails.userDetails.contactDetails.name}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Contact Number</strong>
                                                <p>{{requestDetails.userDetails.mobile}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Request Details</strong>
                                            </td>
                                        </tr>

                                        <tr *ngFor="let keyvalue of filteredData">
                                            <td>
                                                <strong>{{keyvalue['KeyValue']}}?</strong>
                                                <p>{{keyvalue['optionValue']}}</p>
                                            </td>
                                        </tr>

                                        <tr *ngFor="let  key of requestDetails.address |  values; ">
                                            <div *ngIf="key == 'address'">
                                                <strong>{{key}}</strong>
                                                <div *ngFor="let  subkey of requestDetails.address[key] |  values;">
                                                    <td>
                                                        <p> {{requestDetails.address[key][subkey]}}</p>
                                                    </td>
                                                </div>
                                            </div>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Requested Date</strong>

                                                <p> {{requestDetails.serviceRequestedDate}}</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Requested Time</strong>

                                                <p> {{requestDetails.serviceRequestedTime}}</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <form [formGroup]="requestService">
                                                    <strong>Assign Expert</strong>
                                                    <div class="form-group form-black label-floating is-empty">
                                                        <label class="control-label">Category</label>
                                                        <select class="form-control" formControlName="category">
                                                            <option>Select service category</option>
                                                            <option *ngFor="let expertIn of expertServices" [value]="expertIn">{{expertIn}}</option>
                                                        </select>

                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr *ngIf="expertsDetailsHideAndShow">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Mobile Number</th>
                                                        <th>Address</th>
                                                        <th>Work Experience</th>
                                                        <th>Additional Information</th>
                                                    </tr>
                                                    <tr *ngFor="let expertName of selectedCategoryExperts">
                                                        <td>{{expertName.firstName}} {{expertName.lastName}}</td>
                                                        <td>{{expertName.mobileNumber}}</td>
                                                        <td>{{expertName.address}}</td>
                                                        <td>{{expertName.workExperience}}</td>
                                                        <td>{{expertName.additionalInfo}}</td>
                                                        <button class="btn pull-right" style="background:purple"
                                                            (click)="assignExpert(expertName.id)">Assign</button>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </tr>
                                        <tr>
                                            <!-- <button type="submit" class="btn pull-right" style="background:purple" [disabled]="!requestService.valid">Assign</button> -->
                                            <div class="clearfix"></div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="assigned">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Date</th>
                                            <th>Request Type</th>
                                            <th>Service Expert</th>
                                            <th>Place</th>
                                            <th>Status</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                03/10/17
                                            </td>
                                            <td>Electricty Repair</td>
                                            <td>Rakesh Roy</td>
                                            <td>Siligudi</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">
                                                    Edit
                                                </button>&nbsp;&nbsp;&nbsp;
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs">
                                                    Cancel
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="ongoing">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Date</th>
                                            <th>Request Type</th>
                                            <th>Service Expert Assigned</th>
                                            <th>Place</th>
                                            <th>Status</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                03/10/17
                                            </td>
                                            <td>Electricty Repair</td>
                                            <td>Rakesh Roy</td>
                                            <td>Siligudi</td>
                                            <td class="td-actions text-right" style="color:red">
                                                <!--  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">
                                                        Edit
                                                    </button>&nbsp;&nbsp;&nbsp;
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs">
                                                       Cancel
                                                    </button> -->
                                                Ongoing
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>