
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="title">Report</h4>
                        <!--<p class="category">5 new Registered today</p>-->
                        <!--<my-date-range-picker style="position: absolute;top: -7px;right: 30px;" name="mydaterange" [options]="myDateRangePickerOptions"
                    required></my-date-range-picker>-->
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                           
                            <tbody>
                                            <tr>
                                                <th>Date</th>
                                                <th>Request Id</th>
                                                <th>Request Type</th>
                                                <th>Service Expert Assigned</th>
                                                <th>Place</th>
                                                <th>Status</th>
                                            </tr>
                                            <tr *ngFor="let reqService of reqData">
                                                <td>
                                                        {{reqService.serviceRequestedDate | date: 'dd/MM/yyyy'}}
                                                </td>
                                                <td> {{reqService.requestNumber}}</td>
                                                <td>
                                                        <div *ngFor="let  key of reqService.requestData |  values; ">
                                                                <div *ngFor="let  subkey of reqService.requestData[key] |  values;">
                                                                    {{subkey}}
                                                                </div>
                                                            </div>
                                                </td>
                                                <td >
                                                    <div *ngIf="reqService.expertDetails">
                                                            {{reqService.expertDetails.firstName}} {{reqService.expertDetails.lastName}}
                                                    </div>
                                                </td>
                                                <td>
                                                        <div *ngFor="let  key of reqService.address |  values; ">
                                                                <div *ngIf="key == 'address'">
                                                                    <div *ngFor="let  subkey of reqService.address[key] |  values;">
                                                                        {{reqService.address[key][subkey]}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </td>
                                                <td class="td-actions text-right" style="color:red">
                                                   
                                                        {{reqService.requestStatus}} 
                                                </td>
                                            </tr>
                                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
