<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Vendors</h4>
            <p class="category">
              <button routerLink="/createvendor" style="background-color:#fff;color:#942dae" type="button" rel="tooltip" title="Edit Task"
                class="btn btn-primary btn-xs" *ngIf="isAdmin">Add New</button>
              <!-- <button routerLink="/vendorsdashboard" style="background-color:#fff; color:#942dae" type="button" rel="tooltip" title="Edit Task"
                  class="btn btn-primary btn-xs">View All</button> -->
            </p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <!-- <thead class="text-danger"> -->
              <tr>
                <th>Name</th>
                <th>Service Type</th>
                <th>Phone No.</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              <!-- </thead> -->
              <tbody>
                <tr *ngFor="let vendor of allVendors">

                  <!-- <td>{{allServiceExperts[experts]['id']}}</td> -->
                  <td>{{vendor.firstName}} {{vendor.lastName}}</td>
                  <td>{{vendor.expertIn}}</td>
                  <td>{{vendor.mobileNumber}}</td>
                  <td style="color:green" *ngIf="vendor.availableStatus == 'Available'">Available</td>
                  <td style="color:red" *ngIf="vendor.availableStatus == 'Assigned'">Assigned</td>
                  <td><button routerLink="/service-vendor/{{vendor.id}}" style="background-color:#ffa726" type="button" rel="tooltip"
                      title="Edit Task" class="btn btn-primary btn-xs">View</button></td>
                  <!-- <td><button routerLink="/expertreport/{{allServiceExperts[experts]['id']}}" style="background-color:#ffa726"
                      type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">View Report</button></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>