<div class="main-content">
        <div class="my-container">
                <ngx-loading [show]="loading"></ngx-loading>
            </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Service Expert Profile</h4>
                        <button type="button" style="background: #fff;color: #673ab7" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click) = "EditMode()" *ngIf = "toggleViewAndEdit == true">Edit</button>
                        <button type="button" style="background: #fff;color: #673ab7" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click) = "delete()" *ngIf = "toggleViewAndEdit == true && availableStatus == 'Available' ">Delete</button>
                        <button type="button" style="background: #fff;color: #673ab7" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click) = "EditMode()" *ngIf = "toggleViewAndEdit == false">View</button>           
                    </div>
  
                    <div class="card-content" *ngIf = "toggleViewAndEdit == true">
                        <form [formGroup]="userProfileView">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating ">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" formControlName="firstName" [attr.disabled]="butDisabled">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" formControlName="lastName" [attr.disabled]="butDisabled">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Mobile No.</label>
                                        <input type="text" class="form-control" formControlName="mobileNumber" [attr.disabled]="butDisabled">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label class="control-label">Date of Birth</label>
                                        <input type="date" class="form-control"  formControlName="dateOfBirth"  [(ngModel)]="dateOfBirth" [attr.disabled]="butDisabled">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating ">
                                            <label class="control-label">Gender</label>
                                            <label class="center-block"><input type="radio" formControlName="gender" value="Male" [attr.disabled]="butDisabled">Male</label>
                                            <label class="center-block"><input type="radio" formControlName="gender" value="Female" [attr.disabled]="butDisabled">Female</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating ">
                                        <label class="control-label">Adress</label>
                                        <input type="text" class="form-control" formControlName="address" [attr.disabled]="butDisabled">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating ">
                                        <label class="control-label">Adhar No.</label>
                                        <input type="text" class="form-control" formControlName="adharNumber" [attr.disabled]="butDisabled">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Expert in?</label>
                                        <select class="form-control" formControlName="expertIn" [attr.disabled]="butDisabled">
                                                <option *ngFor="let expertIn of expertServices" [value]="expertIn">{{expertIn}}</option>
                                              </select>
                                            </div>
                                </div>
                                <div class="col-md-4" *ngIf = "Others">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Please Add Other Expert Area</label>
                                        <input type="text" class="form-control" formControlName="otherExpertizedFields" [attr.disabled]="butDisabled">
                                </div>
                                </div>
  
                            </div>
    
                            <div class="row">
                                  <div class="col-md-4">
                                          <div class="form-group form-black label-floating ">
                                              <label class="control-label">Work Experience</label>
                                              <input type="text" class="form-control" formControlName="workExperience" [attr.disabled]="butDisabled">
                                          </div>
                                      </div>
                                  <div class="col-md-4">
                                          <div class="form-group form-black label-floating ">
                                              <label>Expert Status</label>
                                              <select class="form-control" formControlName="availableStatus" [attr.disabled]="butDisabled">     
                                                      <option *ngFor="let status of expertStatus" [value]="status">{{status}}</option>
                                                    </select>
                                                  </div>
                                          </div>
                                <div class="col-md-4">
                                      <div class="form-group form-black label-floating ">
                                        <label>Additional</label>
                                            <textarea class="form-control"  formControlName="additionalInfo" [attr.disabled]="butDisabled"></textarea>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-8">
                                  <div class="form-group form-black label-floating">
                                      <label class="control-label">Documents</label>
                                      <div class="imgs">
                                          <ul>
                                              <li *ngFor = "let imgSrc of serviceExpertsDetails.documentsImgSrc">
                                                  <img src="http://res.cloudinary.com/uniserve/image/upload/v1519390693/live/{{serviceExpertsDetails.id}}/documents/{{imgSrc}}" />
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </form>
                    </div>
  
                    <div class="card-content" *ngIf = "toggleViewAndEdit == false">
                          <form [formGroup]="userProfileForm" (ngSubmit)="updateExpertProfile()">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group form-black label-floating ">
                                          <label class="control-label">First Name</label>
                                          <input type="text" class="form-control" formControlName="firstName">
                                          <div class="error" *ngIf="userProfileForm.get('firstName').hasError('required') && userProfileForm.get('firstName').touched">First name is required</div>
                                          <div class="error" *ngIf="userProfileForm.get('firstName').hasError('pattern') && userProfileForm.get('firstName').touched">Alphates only</div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group form-black label-floating">
                                          <label class="control-label">Last Name</label>
                                          <input type="text" class="form-control" formControlName="lastName" >
                                          <div class="error" *ngIf="userProfileForm.get('lastName').hasError('required') && userProfileForm.get('lastName').touched">Last name is required</div>
                                          <div class="error" *ngIf="userProfileForm.get('lastName').hasError('pattern') && userProfileForm.get('lastName').touched">Alphates only</div>
                                      </div>
                                  </div>
                              </div>
      
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group form-black label-floating">
                                          <label class="control-label">Mobile No.</label>
                                          <input type="text" class="form-control" formControlName="mobileNumber" >
                                          <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('required') && userProfileForm.get('mobileNumber').touched">Phone Number is required</div>
                                          <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('pattern') && userProfileForm.get('mobileNumber').touched"> Numbers Only </div>
                                          <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('minlength') && userProfileForm.get('mobileNumber').touched"> Minimum of 10 characters </div>
                                          <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('maxlength') && userProfileForm.get('mobileNumber').touched"> Maximum of 10 characters </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group form-black">
                                          <label class="control-label">Date of Birth</label>
                                          <input type="date" class="form-control"  formControlName="dateOfBirth"  [(ngModel)]="dateOfBirth">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group form-black label-floating ">
                                              <label class="control-label">Gender</label>
                                              <label class="center-block"><input type="radio" formControlName="gender" value="Male" >Male</label>
                                              <label class="center-block"><input type="radio" formControlName="gender" value="Female">Female</label>
                                      </div>
                                  </div>
                              </div>
      
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group form-black label-floating ">
                                          <label class="control-label">Adress</label>
                                          <input type="text" class="form-control" formControlName="address">
                                          <div class="error" *ngIf="userProfileForm.get('address').hasError('required') && userProfileForm.get('address').touched">Address is required</div>
                                      </div>
                                  </div>
                              </div>
      
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group form-black label-floating ">
                                          <label class="control-label">Adhar No.</label>
                                          <input type="text" class="form-control" formControlName="adharNumber">
                                          <div class="error" *ngIf="userProfileForm.get('adharNumber').hasError('pattern') && userProfileForm.get('adharNumber').touched"> Numbers Only</div>
                                          <div class="error" *ngIf="userProfileForm.get('adharNumber').hasError('minlength') && userProfileForm.get('adharNumber').touched"> Minimum of 12 characters </div>
                                          <div class="error" *ngIf="userProfileForm.get('adharNumber').hasError('maxlength') && userProfileForm.get('adharNumber').touched"> Maximum of 12 characters </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group form-black label-floating">
                                          <label class="control-label">Expert in?</label>
                                          <select class="form-control" formControlName="expertIn" >
                                                  <option *ngFor="let expertIn of expertServices" [value]="expertIn">{{expertIn}}</option>
                                                </select>
                                                <div class="error" *ngIf="userProfileForm.get('expertIn').hasError('required') && userProfileForm.get('expertIn').touched"> Please select Expert in</div>    
      
                                              </div>
                                  </div>
                                  <div class="col-md-4" *ngIf = "Others">
                                      <div class="form-group form-black label-floating">
                                          <label class="control-label">Please Add Other Expert Area</label>
                                          <input type="text" class="form-control" formControlName="otherExpertizedFields">
                                  </div>
                                  </div>
    
                              </div>
      
                              <div class="row">
                                    <div class="col-md-4">
                                            <div class="form-group form-black label-floating ">
                                                <label class="control-label">Work Experience</label>
                                                <input type="text" class="form-control" formControlName="workExperience">
                                                <div class="error" *ngIf="userProfileForm.get('workExperience').hasError('pattern') && userProfileForm.get('workExperience').touched"> Numbers Only</div>
                                            </div>
                                        </div>
                                    <div class="col-md-4">
                                            <div class="form-group form-black label-floating ">
                                                <label>Expert Status</label>
                                                <select class="form-control" formControlName="availableStatus" >
                                                        <option *ngFor="let status of expertStatus" [value]="status">{{status}}</option>
                                                      </select>
                                                      <div class="error" *ngIf="userProfileForm.get('availableStatus').hasError('required') && userProfileForm.get('availableStatus').touched"> Please select Expert Status</div>    
                                                    </div>
                                            </div>
                                  <div class="col-md-4">
                                        <div class="form-group form-black label-floating ">
                                          <label>Additional</label>
                                              <textarea class="form-control"  formControlName="additionalInfo"></textarea>
                                          </div>
                                  </div>
                              </div>
                             
                              <!-- <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label>Upload verfication Doduments :<br>1.One passport size colour photo <br>2.adhar card copy/voter card copy<br>3.medical fitness certificate<br>4.work experience  or skill certificate if any<br>5. Service expert application form with term and condition.</label><br>
                                          <input type="file" formControlName="file"  accept="image/*"  (change)="fileChange($event)" multiple/>
                                      </div>
                                  </div>
                              </div> -->
                              <button type="button" class="btn btn-primary pull-right"  (click)= "cancel()">Cancel</button>
                              <button type="button" class="btn btn-primary pull-right"  (click)= "delete()" *ngIf="availableStatus == 'Available'">Delete</button>
                              <button type="submit" class="btn btn-primary pull-right" [disabled]="!userProfileForm.valid">Update</button>
                              <div class="clearfix"></div>
                          </form>
                      </div>
  
                </div>
            </div>
        </div>
    </div>
    </div>
    
  