<body oncopy="return false" oncut="return false" onpaste="return false">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="title">Admin List</h4>
              <p class="category">
                <!-- <button routerLink="/createadmin" style="background-color:#fff;color:#673ab7 " type="button" rel="tooltip" title="Edit Task"
                  class="btn btn-primary btn-xs">Add New</button> -->
                <button routerLink="/adminlist" style="background-color:#fff; color:#673ab7" type="button" rel="tooltip" title="Edit Task"
                  class="btn btn-primary btn-xs">View All</button>
              </p>
            </div>
            <!-- <div class="card-content table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <tr>
                    <th>Email</th>
                    <th>Phone No.</th>
                    <th>Location</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let admin of allAdminList">
                    <td>{{admin?.contactDetails?.email}} </td>
                    <td>{{admin?.contactDetails?.mobileNumber}}</td>
                    <td>{{admin?.location}}</td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="title">Channel Partner List</h4>
              <p class="category">
                <!-- <button routerLink="/createchannelpartener" style="background-color:#fff;color:#673ab7" type="button" rel="tooltip" title="Edit Task"
                  class="btn btn-primary btn-xs">Add New</button> -->
                <button routerLink="/channelpartnerlist" style="background-color:#fff; color:#673ab7" type="button" rel="tooltip" title="Edit Task"
                  class="btn btn-primary btn-xs">View All</button>
              </p>
            </div>
            <!-- <div class="card-content table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <tr>
                    <th>Name</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cp of allChannelPartenerList">
                    <td>{{cp?.name}} </td>
                    <td>{{cp?.place}}</td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="title">Vendors List</h4>
              <p class="category">
                <button routerLink="/vendorsdashboard" style="background-color:#fff;color:#673ab7" type="button" rel="tooltip" title="Edit Task"
                  class="btn btn-primary btn-xs">View List</button>
              </p>
            </div>
            <!-- <div class="card-content table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <tr>
                    <th>Name</th>
                    <th>Service Type</th>
                    <th>Phone No.</th>
                    <th>Status</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vendor of allVendorsList">
                    <td>{{vendor.firstName}} {{vendor.lastName}}</td>
                    <td>{{vendor.expertIn}}</td>
                    <td>{{vendor.mobileNumber}}</td>
                    <td style="color:green" *ngIf="vendor.availableStatus == 'Available'">Available</td>
                    <td style="color:red" *ngIf="vendor.availableStatus == 'Assigned'">Assigned</td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>