<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Admin List</h4>
            <p class="category">
              <button routerLink="/createadmin" style="background-color:#fff;color:#673ab7 " type="button" rel="tooltip" title="Edit Task"
                class="btn btn-primary btn-xs">Add New</button>
            </p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <!-- <thead class="text-danger"> -->
                <tr>
                  <!-- <th>Name</th> -->
                  <th>Email</th>
                  <th>Phone No.</th>
                  <th>Location</th>
                  <th>Action</th>
                </tr>
              <!-- </thead> -->
              <tbody>
                <tr *ngFor="let admin of allAdminList">

                  <!-- <td>{{allServiceExperts[experts]['id']}}</td> -->
                  <!-- <td>{{admin?.firstName}} {{admin?.lastName}}</td> -->
                  <td>{{admin?.contactDetails?.email}}</td>
                  <td>{{admin?.contactDetails?.mobileNumber}}</td>
                  <td>{{admin?.location}}</td>
                  <!-- <td style="color:green" *ngIf="vendor.availableStatus == 'Available'">Available</td>
                    <td style="color:red" *ngIf="vendor.availableStatus == 'Assigned'">Assigned</td> -->
                  <td><button routerLink="/view-admin/{{admin['id']}}" style="background-color:#673ab7" type="button" rel="tooltip"
                      title="Edit Task" class="btn btn-primary btn-xs">View</button></td>
                  <!-- <td><button routerLink="/service-employee/{{allServiceExperts[experts]['id']}}" style="background-color:#ffa726" type="button" rel="tooltip" title="Edit Task"
                      class="btn btn-primary btn-xs">View Report</button></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>