<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Channel Partner List</h4>
            <p class="category">
              <button routerLink="/createchannelpartener" style="background-color:#fff;color:#673ab7 " type="button" rel="tooltip" title="Edit Task"
                class="btn btn-primary btn-xs">Add New</button>
            </p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <!-- <thead class="text-danger"> -->
                <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Action</th>
                </tr>
              <!-- </thead> -->
              <tbody>
                <tr *ngFor="let cp of allChannelPartenerList">
                  <td>{{cp?.name}}</td>
                  <td>{{cp?.place}}</td>
                  <td><button routerLink="/view-channelpartner/{{cp['id']}}" style="background-color:#673ab7" type="button"
                      rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">View</button></td>
                  <!-- <td><button routerLink="/service-employee/{{allServiceExperts[experts]['id']}}" style="background-color:#ffa726" type="button" rel="tooltip" title="Edit Task"
                      class="btn btn-primary btn-xs">View Report</button></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>