<div class="ch-container">
    <div class="row">

        <!-- <div class="row">
      <div class="col-md-12 center login-header">
                      

          <h2><img style="width:45px;" src="./assets/img/logo.svg"/>&ensp;Admin</h2>
      </div>

    
  </div>

  <div class="row">
      <div class="well col-md-5 center login-box">
          <div class="alert alert-info">
              Please login with your Username and Password.
          </div>
          <form  [formGroup]="userLogin" (ngSubmit)="userLoginSubmit()">
              <fieldset>
                  <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                      <input type="text" class="form-control" name="username"   formControlName="username" />
                      <div class="error" *ngIf="userLogin.get('username').hasError('required') && userLogin.get('username').touched">Username is required</div>
                  </div>
                  <div class="clearfix"></div><br>

                  <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                      
                      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password"/>
                      < <span class="input-group-text"> -->
                        <!-- <i class="fa" [ngClass]="{ 'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"(click)="toggleFieldTextType()"></i> -->
                      <!-- </span> -->                    
                      <!-- <div class="error" *ngIf="userLogin.get('password').hasError('required') && userLogin.get('password').touched">Password is required</div> -->
                  <!-- </div> -->
                  <!-- <div class="clearfix"></div> --> 
        <!-- 
    <div class="row"> /span-->

        <div class="row">
            <div class="col-md-12 center login-header">


                <h2><img style="width:45px; " src="./assets/img/doortasklogo.png" /> Admin</h2>
            </div>


            <!-- </div> -->
            <!--/row-->

            <div class="row">
                <div class="well col-md-5 center login-box">
                    <!-- <div class="alert alert-info">
                    Please login with your Username and Password.
                </div> -->
                    <form [formGroup]="userLogin" (ngSubmit)="userLoginSubmit()">
                        <fieldset>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user red" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" formControlName="username" placeholder="UserName" />
                            </div>
                            <div class="clearfix"></div><br>

                            
                             <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>      
                               <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="Password"/>
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}" (click)="toggleFieldTextType()"></i>
                                    </span>
                                  </span>
                                </div>
                            <div class="clearfix"></div>
                            <!-- 
                  <div class="input-prepend">
                      <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
                  </div>
                  <div class="clearfix"></div> -->

                            <p class="center col-md-5">
                                <button class="btn btn-primary" type="submit" [disabled]="!userLogin.valid">Login</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/fluid-row-->

    </div>
    <!--/.fluid-container-->