.ch-container{
    margin-left:218px;
  }
  app-navbar{
      display: none;
  }
  app-sidebar{
      display: none;
  }
   .fa-eye-slash ,
   .fa-eye{
    float: right;
    margin-left: -25px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  } 


  .btn-primary {
    background-color: #673ab7 !important;
}
