.form-group input[type=file]{
    width: 16% !important;
}
 .imgs ul{
     width: 60%;
 }

 .imgs ul li{
     margin: 8px;
     display: inline-block;
     width: 30%;
 }

 .error{
     color: red;
 }
 .fa-eye-slash,
 .fa-eye {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  } 

 .card-header {
    background-color :#673ab7;
}
.btn-primary {
    background-color: #673ab7 !important;
}
