<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Service Report</h4>
          </div>
          <div class="card-content">
              <div class="col-lg-12 col-md-12">
                  <div class="card-content table-responsive">
                      <table class="table table-hover">
                          <!-- <thead class="text-danger"> -->
                              <tr>
                                <th>Assigned Date</th>
                                  <th>Request Id</th>
                                  <th>Service Type</th>
                                  <th>Phone No.</th>
                                  <th>Status</th>
                              </tr>
                          <!-- </thead> -->
                          <tbody>
                              <tr *ngFor ="let experts of expertReport | sortgrid: 'createdAt'">
                                <td>{{experts.createdAt  | date}}</td>
                                              <td>{{experts.serviceRequestId}} </td>
                                              <td *ngFor="let key of experts.serviceDetails[0].requestData | values" >{{key}}</td>
                                              <td>{{experts.serviceDetails[0].userDetails.mobile}}</td>
                                              <td>{{experts.status}}</td>
                                              <!-- <td>{{allServiceExperts[experts]['expertIn']}}</td>
                                              <td>{{allServiceExperts[experts]['mobileNumber']}}</td>
                                              <td style="color:green" *ngIf = "allServiceExperts[experts]['availableStatus'] == 'Available'">Available</td>
                                              <td style="color:red" *ngIf = "allServiceExperts[experts]['availableStatus'] == 'Assigned'">Assigned</td>
                                              <td><button routerLink="/service-expert/{{allServiceExperts[experts]['id']}}" style="background-color:#ffa726"type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">View</button></td>
                                              <td><button routerLink="/expertreport/{{allServiceExperts[experts]['id']}}" style="background-color:#ffa726"type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">View Report</button></td> -->
                              </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

