<div class="main-content">
  <div class="my-container">
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Partner Profile</h4>
            <button type="button" style="background: #fff;color: #673ab7" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs"
              (click)="EditMode()" *ngIf="toggleViewAndEdit == true">Edit</button>
            <button type="button" style="background: #fff;color: #673ab7" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs"
              (click)="delete()">Delete</button>
            <button type="button" style="background: #fff;color: #673ab7" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs"
              (click)="EditMode()" *ngIf="toggleViewAndEdit == false">View</button>
          </div>

          <div class="card-content" *ngIf="toggleViewAndEdit == true">
            <form [formGroup]="userProfileView">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div class="error" *ngIf="userProfileForm.get('name').hasError('required') && userProfileForm.get('name').touched">Name
                      is required</div>
                    <!-- <div class="error" *ngIf="userProfileForm.get('firstName').hasError('pattern') && userProfileForm.get('firstName').touched">Alphates only</div> -->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Location</label>
                    <select class="form-control" formControlName="location">
                      <option *ngFor="let item of location" [value]="item">{{item}}</option>
                    </select>
                    <div class="error" *ngIf="userProfileForm.get('location').hasError('required') && userProfileForm.get('location').touched">
                      Please select location</div>
                  </div>
                </div>
              </div>

            </form>
          </div>

          <div class="card-content" *ngIf="toggleViewAndEdit == false">
            <form [formGroup]="userProfileForm" (ngSubmit)="updateAdminProfile()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div class="error" *ngIf="userProfileForm.get('name').hasError('required') && userProfileForm.get('name').touched">Name
                      is required</div>
                    <!-- <div class="error" *ngIf="userProfileForm.get('firstName').hasError('pattern') && userProfileForm.get('firstName').touched">Alphates only</div> -->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Location</label>
                    <select class="form-control" formControlName="location">
                      <option *ngFor="let item of location" [value]="item">{{item}}</option>
                    </select>
                    <div class="error" *ngIf="userProfileForm.get('location').hasError('required') && userProfileForm.get('location').touched">
                      Please select location</div>
                  </div>
                </div>
              </div>


              <button type="button" class="btn btn-primary pull-right" (click)="cancel()">Cancel</button>
              <button type="button" class="btn btn-primary pull-right" (click)="delete()">Delete</button>
              <button type="submit" class="btn btn-primary pull-right" [disabled]="!userProfileForm.valid">Update</button>
              <div class="clearfix"></div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>