<div class="main-content">
        <div class="my-container">
                <ngx-loading [show]="loading"></ngx-loading>
            </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" >
                        <h4 class="title">Service Request(Req. ID - {{requestDetails['id']}})</h4>
                        <div *ngFor="let requestedData of requestDetails['requestData'] | values">
                            <div *ngFor="let serviceData of requestDetails['requestData'][requestedData] | values">
                                <p class="category">{{serviceData}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="new">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Name</strong>
                                                <p *ngIf = "requestDetails.userDetails.contactDetails">{{requestDetails.userDetails.contactDetails.name}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Contact Number</strong>
                                                <p >{{requestDetails.userDetails.mobile}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Request Details</strong>
                                            </td>
                                        </tr>

                                        <tr *ngFor="let keyvalue of filteredData">
                                            <td>
                                                <strong>{{keyvalue['KeyValue']}}?</strong>
                                                <p>{{keyvalue['optionValue']}}</p>
                                            </td>
                                        </tr>


                                        <tr *ngFor="let  key of requestDetails.address |  values; ">
                                            <div *ngIf="key == 'address'">
                                                <strong>{{key}}</strong>
                                                <div *ngFor="let  subkey of requestDetails.address[key] |  values;">
                                                    <td>
                                                        <p> {{requestDetails.address[key][subkey]}}</p>
                                                    </td>
                                                </div>
                                            </div>
                                        </tr>

                                        <!-- <div style="background-color: aqua"> -->
                                            <tr>
                                                <td *ngIf="!editDate">
                                                    <strong>Assigned Date</strong>
                                                    <button (click)="ChangeDate()" class="btn pull-right" style="background:#673ab7" *ngIf="requestDetails.requestStatus !== 'Cancelled'">Change</button>
    
                                                    <p> {{requestDetails.serviceRequestedDate}}</p>
                                                </td>
                                                <td *ngIf="editDate">
                                                    <strong style="color:#673ab7">Update Assign Date</strong>
                                                    <div class="datepicker-container">
                                                        <input type="date" [(ngModel)]="RequestDate">
                                                    </div>
                                                    <button (click)="updateDate()" class="btn pull-right" style="background:#673ab7">Update</button>
                                                    <button (click)="cancelChangeDate()" class="btn pull-right" style="background:#673ab7" >Cancel</button>
                                                </td>
                                            </tr>
    
                                            <tr>
                                                <td *ngIf="!editTime">
                                                    <strong>Assigned Time</strong>
                                                    <button (click)="ChangeTime()" class="btn pull-right" style="background:#673ab7" *ngIf="requestDetails.requestStatus !== 'Cancelled'">Change</button>
                                                    <p> {{requestDetails.serviceRequestedTime}}</p>
                                                </td>
                                                <td *ngIf="editTime">
                                                    <strong style="color:#673ab7">Update Assign Time</strong>
                                                    <div>
                                                        <button (click)="open()">Time</button>
                                                        <input type="time" value="{{RequestedTime}}">
                                                    </div>
                                                    <button (click)="updateDate()" class="btn pull-right" style="background:#673ab7">Update</button>
                                                    <button (click)="cancelChangeTime()" class="btn pull-right" style="background:#673ab7" >Cancel</button>
                                                </td>
                                            </tr>
    
    
                                            <tr>
                                                <td *ngIf="!editAmount">
                                                    <strong>Total Amount</strong>
                                                    <button (click)="ChangeAmount()" class="btn pull-right" style="background:#673ab7">Edit</button>
                                                    <p> {{requestDetails.requestServiceAmount}}</p>
                                                </td>
                                                <td *ngIf="editAmount">
                                                    <strong style="color:#673ab7">Update Amount</strong>
                                                    <form [formGroup]="updateServiceAmount" (ngSubmit)="updateServiceAmounts()">
                                                        <div class="form-group form-black label-floating is-empty">
                                                            <label>Amount</label>
                                                            <input class="form-control" formControlName="amount" />
                                                            <div class="error" *ngIf="updateServiceAmount.get('amount').hasError('required') && updateServiceAmount.get('amount').touched">Please enter the amount</div>
                                                            <div class="error" *ngIf="updateServiceAmount.get('amount').hasError('pattern') && updateServiceAmount.get('amount').touched">Integer numbers only</div>
                                                        </div>
                                                        <button type="submit" class="btn pull-right" style="background:#673ab7" [disabled]="!updateServiceAmount.valid">Update</button>
                                                        <button (click)="cancelChangeAmount()" class="btn pull-right" style="background:#673ab7" >Cancel</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td *ngIf="!editNote">
                                                    <strong>Additional Note</strong>
                                                    <button (click)="ChangeNote()" class="btn pull-right" style="background:#673ab7">Edit</button>
                                                    <p> {{requestDetails.requestNote}}</p>
                                                </td>
                                                <td *ngIf="editNote">
                                                    <strong style="color:#673ab7">Update Note</strong>
                                                    <form [formGroup]="updateServiceNote" (ngSubmit)="updateServiceNotes()">
                                                        <div class="form-group form-black label-floating is-empty">
                                                            <label>Additional Note</label>
                                                            <textarea class="form-control" formControlName="note"></textarea>
                                                            <div class="error" *ngIf="updateServiceNote.get('note').hasError('required') && updateServiceNote.get('note').touched">Please write a note</div>
                                                        </div>
                                                        <button type="submit" class="btn pull-right" style="background:#673ab7" [disabled]="!updateServiceNote.valid">Update</button>
                                                        <button (click)="cancelChangeNote()" class="btn pull-right" style="background:#673ab7" >Cancel</button>
                                                    </form>
                                                </td>
                                            </tr>
    
    
                                            <!-- <tr *ngIf="requestDetails.requestStatus !== 'New'">
                                                <td>
                                                    <strong>Request Status</strong>
                                                    <form [formGroup]="updateServiceRequest" (ngSubmit)="updateRequestStatus()">
                                                        <div class="form-group form-black label-floating is-empty">
                                                            <label>Current Status</label>
                                                            <select class="form-control" formControlName="status">
                                                                <option selected="true">{{requestDetails['requestStatus']}}</option>
                                                                <option *ngFor="let stat of status" [value]="stat" [selected]="stat == requestDetails['requestStatus']">{{stat}}</option>
                                                            </select>
                                                        </div>
                                                        <button class="btn pull-right" style="background:#673ab7" [disabled]="!updateServiceRequest.valid" *ngIf="requestDetails.requestStatus !== 'Cancelled'">Update</button>
                                                    </form>
                                                </td>
                                            </tr> -->
                                            <tr *ngIf="requestDetails.requestStatus !== 'New'">
    
                                                <td *ngIf="!editExpert">
                                                    <strong>Assigned Expert Details</strong>
    
                                                    <div class="form-group form-black label-fixed is-empty">
                                                        <label class="control-label">Category</label>
                                                        <div *ngFor="let requestedData of requestDetails['requestData'] | values">
                                                            <div *ngFor="let serviceData of requestDetails['requestData'][requestedData] | values">
                                                                <p class="category">{{serviceData}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-black label-fixed is-empty">
                                                        <label class="control-label">Service Expert Name</label>
                                                        <p class="category">{{requestDetails['expertDetails']['firstName']}} {{requestDetails['expertDetails']['lastName']}}</p>
                                                        <label class="control-label"> Contact Number</label>
                                                        <p class="category">{{requestDetails['expertDetails']['mobileNumber']}}</p>
                                                        <!--<button class="btn pull-right" style="background:#673ab7">Change</button>-->
                                                    </div>
                                                    <button (click)="ChangeExpert()" class="btn pull-right" style="background:#673ab7" *ngIf="requestDetails.requestStatus !== 'Cancelled'">Change</button>
                                                </td>
    
                                                <td *ngIf="editExpert">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <form [formGroup]="requestService">
                                                                        <strong style="color:#673ab7">Change Expert for Request</strong>
                                                                        <div class="form-group form-black label-floating is-empty">
                                                                            <label class="control-label">Select Category</label>
                                                                            <select class="form-control" formControlName="category">
                                                                                <option>Select service category</option>
                                                                                <option *ngFor="let expertIn of expertServices" [value]="expertIn">{{expertIn}}</option>
                                                                            </select>
    
                                                                        </div>
                                                                    </form>
                                                                </td>
                                                            </tr>
    
                                                            <tr *ngIf="expertsDetailsHideAndShow">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th>Name</th>
                                                                            <th>Mobile Number</th>
                                                                            <th>Address</th>
                                                                            <th>Work Experience</th>
                                                                            <th>Additional Information</th>
                                                                        </tr>
                                                                        <tr *ngFor="let expertDetails of selectedCategoryExperts">
                                                                            <td>{{expertDetails.firstName}} {{expertDetails.lastName}}</td>
                                                                            <td>{{expertDetails.mobileNumber}}</td>
                                                                            <td>{{expertDetails.address}}</td>
                                                                            <td>{{expertDetails.workExperience}}</td>
                                                                            <td>{{expertDetails.additionalInfo}}</td>
                                                                            <button class="btn pull-right" style="background:purple" (click)="updateExpert(expertDetails)">Assign</button>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </tr>
                                                            <tr>
                                                                <button (click)="cancelChangeExpert()" class="btn pull-right" style="background:#673ab7" >Cancel</button>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
    
                                            </tr>
                                        <!-- </div> -->
                                        
                                        <tr *ngIf="requestDetails.requestStatus !== 'New'">
                                            <td>
                                                <strong>Request Status</strong>
                                                <form [formGroup]="updateServiceRequest" (ngSubmit)="updateRequestStatus()">
                                                    <div class="form-group form-black label-floating is-empty">
                                                        <label>Current Status</label>
                                                        <select class="form-control" formControlName="status">
                                                            <!-- <option selected="true">{{requestDetails['requestStatus']}}</option> -->
                                                            <option *ngFor="let stat of status" [value]="stat" [selected]="stat == requestDetails['requestStatus']">{{stat}}</option>
                                                        </select>
                                                    </div>
                                                    <button class="btn pull-right" style="background:#673ab7" [disabled]="!updateServiceRequest.valid" *ngIf="requestDetails.requestStatus !== 'Cancelled'">Update</button>
                                                </form>
                                            </td>
                                        </tr>

                                    </tbody>
                                    <!-- <tbody>
                                            <tr>Change Date and Time</tr>
                                            <tr>
                                                <td>
                                                    <div class="datepicker-container">
                                                        <ng-datepicker [(ngModel)]="RequestDate" ></ng-datepicker>
                                                    </div>
                                                </td>
                                                <td>
                                                  <div>
                                                    <button (click)="open()">Time</button>
                                                    <input type="time" value="{{RequestedTime}}">
                                                  </div>
                                                </td>
                                            <td>
                                                <button  class="btn pull-right" style="background:#673ab7" (click) = "updateDate()">Update</button>
                                            </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>
                                                        <form [formGroup]="requestService" >
                                                                <strong>Update Expert for Request</strong>
                                                                <div class="form-group form-black label-floating is-empty">
                                                                    <label class="control-label">Category</label>
                                                                    <select class="form-control" formControlName="category">
                                                                        <option>Select service category</option>
                                                                        <option *ngFor="let expertIn of expertServices" [value]="expertIn">{{expertIn}}</option>
                                                                    </select>
            
                                                                </div>
                                                                </form>
                                                </td>
                                            </tr>
                                            
                                            <tr *ngIf = "expertsDetailsHideAndShow">
                                                    <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Mobile Number</th>
                                                                    <th>Address</th>
                                                                    <th>Work Experience</th>
                                                                    <th>Additional Information</th>
                                                                </tr>
                                                                <tr  *ngFor="let expertDetails of selectedCategoryExperts">
                                                                        <td>{{expertDetails.firstName}} {{expertDetails.lastName}}</td>
                                                                        <td>{{expertDetails.mobileNumber}}</td>
                                                                        <td>{{expertDetails.address}}</td>
                                                                        <td>{{expertDetails.workExperience}}</td>
                                                                        <td>{{expertDetails.additionalInfo}}</td>
                                                                        <button class="btn pull-right" style="background:purple" (click)="updateExpert(expertDetails)">Update Expert</button>
                                                                </tr>
                                                                </tbody>
                                                                </table>
                                            </tr>

                                        </tbody> -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>