.imgs ul{
    width: 60%;
}

.imgs ul li{
    margin: 8px;
    display: inline-block;
    width: 30%;
}
.card-header {
    background-color :#673ab7;
}
.btn-primary {
    background-color: #673ab7 !important;
}