<div class="main-content">
  <div class="my-container">
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Service Requests:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="" id="new#">
                    <a href="#new" data-toggle="tab">
                      <!--<i class="material-icons">add</i>-->
                      New Requests ({{newReq.length}})
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="" id="assigned#">
                    <a href="#assigned" data-toggle="tab">
                      <!-- <i class="material-icons">check</i> -->
                      Assigned ({{Assigned.length}})
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="" id="ongoing#">
                    <a href="#ongoing" data-toggle="tab">
                      <!-- <i class="material-icons">cloud_done</i> -->
                      Ongoing ({{onGoingReq.length}})
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="" id="onhold#">
                    <a href="#onhold" data-toggle="tab">
                      <!-- <i class="material-icons">cloud_done</i> -->
                      On Hold ({{onHoldReq.length}})
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="" id="financePending#">
                    <a href="#financePending" data-toggle="tab">
                      <!-- <i class="material-icons">cloud_done</i> -->
                      Finance Pending ({{onFinancePendingReq.length}})
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="" id="completed#">
                    <a href="#completed" data-toggle="tab">
                      <!-- <i class="material-icons">cloud_done</i> -->
                      Completed ({{complatedReq.length}})
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="" id="Cancelled#">
                    <a href="#Cancelled" data-toggle="tab">
                      <!-- <i class="material-icons">cloud_done</i> -->
                      Cancelled ({{onCancellReq.length}})
                      <div class="ripple-container"></div>
                    </a>
                  </li>      
                </ul>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="tab-content">
              <div class="tab-pane " id="new">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Date</th>
                      <th>Request Type</th>
                      <th>Place</th>
                      <!-- <th>Status</th> -->
                      <!-- <th (click)="switchtab()">TESTING</th> -->
                    </tr>
                    <tr *ngFor="let reqData of newReq | sortgrid: '-createdAt'">
                      <!-- <div *ngFor = "let subReqData of reqData">
                                                      {{subReqData.date}}
                                              </div> -->

                      <td>
                        {{reqData.createdAt | date: 'dd/MM/yyyy'}}
                      </td>
                      <td>
                        <div *ngFor="let  key of reqData.requestData |  values; ">
                          <div *ngFor="let  subkey of reqData.requestData[key] |  values;">
                            {{subkey}}
                          </div>
                        </div>
                      </td>
                      <td>
                        <div *ngFor="let  key of reqData.address |  values; ">
                          <div *ngIf="key == 'address'">
                            <div *ngFor="let  subkey of reqData.address[key] |  values;">
                              {{reqData.address[key][subkey]}}
                            </div>
                          </div>
                        </div>
                      </td>
                      <!-- <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click)="assignServiceExpert(reqData.id)">
                          Assign Now
                        </button>&nbsp;&nbsp;&nbsp; -->
                      <!-- <button  type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click)="editAssignedServiceExpert(reqData.id)">
                                                  Edit
                                              </button> -->
                      <!-- </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="assigned">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Date</th>
                      <th>Request Type</th>
                      <th>Service Expert</th>
                      <th>Place</th>
                      <!-- <th>Status</th> -->
                    </tr>

                    <tr *ngFor="let reqData of Assigned | sortgrid: '-updatedAt'">

                      <td>
                        {{reqData.updatedAt | date: 'dd/MM/yyyy'}}
                      </td>
                      <td>
                        <div *ngFor="let  key of reqData.requestData |  values; ">
                          <div *ngFor="let  subkey of reqData.requestData[key] |  values;">
                            {{subkey}}
                          </div>
                        </div>
                      </td>

                      <td *ngIf="reqData['expertDetails']">
                        {{ reqData['expertDetails']['firstName']}} {{ reqData['expertDetails']['lastName']}}
                      </td>

                      <td>
                        <div *ngFor="let  key of reqData.address |  values; ">
                          <div *ngIf="key == 'address'">
                            <div *ngFor="let  subkey of reqData.address[key] |  values;">
                              {{reqData.address[key][subkey]}}
                            </div>
                          </div>
                        </div>
                      </td>
                      <!-- <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click)="editAssignedServiceExpert(reqData.id)">
                          Edit
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs" (click)="cancelRequest(reqData.id,reqData['expertDetails']['id'])">
                          Cancel Request
                        </button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="ongoing">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Date</th>
                      <th>Request Type</th>
                      <th>Service Expert</th>
                      <th>Place</th>
                      <!-- <th>Status</th> -->
                    </tr>

                    <tr *ngFor="let reqData of onGoingReq | sortgrid: '-updatedAt'">
                      <!-- <div *ngFor = "let subReqData of reqData">
                                                              {{subReqData.date}}
                                                      </div> -->

                      <td>
                        {{reqData.updatedAt | date: 'dd/MM/yyyy'}}
                      </td>
                      <td>
                        <div *ngFor="let  key of reqData.requestData |  values; ">
                          <div *ngFor="let  subkey of reqData.requestData[key] |  values;">
                            {{subkey}}
                          </div>
                        </div>
                      </td>

                      <td *ngIf="reqData['expertDetails']">
                        {{ reqData['expertDetails']['firstName']}} {{ reqData['expertDetails']['lastName']}}
                      </td>

                      <td>
                        <div *ngFor="let  key of reqData.address |  values; ">
                          <div *ngIf="key == 'address'">
                            <div *ngFor="let  subkey of reqData.address[key] |  values;">
                              {{reqData.address[key][subkey]}}
                            </div>
                          </div>
                        </div>
                      </td>
                      <!-- <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click)="editAssignedServiceExpert(reqData.id)">
                          Edit
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs" (click)="cancelRequest(reqData.id,reqData['expertDetails']['id'])">
                          Cancel Request
                        </button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="onhold">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Date</th>
                      <th>Request Type</th>
                      <th>Service Expert</th>
                      <th>Place</th>
                      <!-- <th>Status</th> -->
                    </tr>

                    <tr *ngFor="let reqData of onHoldReq | sortgrid: '-updatedAt'">
                      <!-- <div *ngFor = "let subReqData of reqData">
                                                              {{subReqData.date}}
                                                      </div> -->

                      <td>
                        {{reqData.updatedAt | date: 'dd/MM/yyyy'}}
                      </td>
                      <td>
                        <div *ngFor="let  key of reqData.requestData |  values; ">
                          <div *ngFor="let  subkey of reqData.requestData[key] |  values;">
                            {{subkey}}
                          </div>
                        </div>
                      </td>

                      <td *ngIf="reqData['expertDetails']">
                        {{ reqData['expertDetails']['firstName']}} {{ reqData['expertDetails']['lastName']}}
                      </td>

                      <td>
                        <div *ngFor="let  key of reqData.address |  values; ">
                          <div *ngIf="key == 'address'">
                            <div *ngFor="let  subkey of reqData.address[key] |  values;">
                              {{reqData.address[key][subkey]}}
                            </div>
                          </div>
                        </div>
                      </td>
                      <!-- <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click)="editAssignedServiceExpert(reqData.id)">
                          Edit
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs" (click)="cancelRequest(reqData.id,reqData['expertDetails']['id'])">
                          Cancel Request
                        </button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="financePending">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Date</th>
                      <th>Request Type</th>
                      <th>Service Expert</th>
                      <th>Place</th>
                      <!-- <th>Status</th> -->
                    </tr>

                    <tr *ngFor="let reqData of onFinancePendingReq | sortgrid: '-updatedAt'">
                      <!-- <div *ngFor = "let subReqData of reqData">
                                                              {{subReqData.date}}
                                                      </div> -->

                      <td>
                        {{reqData.updatedAt | date: 'dd/MM/yyyy'}}
                      </td>
                      <td>
                        <div *ngFor="let  key of reqData.requestData |  values; ">
                          <div *ngFor="let  subkey of reqData.requestData[key] |  values;">
                            {{subkey}}
                          </div>
                        </div>
                      </td>

                      <td *ngIf="reqData['expertDetails']">
                        {{ reqData['expertDetails']['firstName']}} {{ reqData['expertDetails']['lastName']}}
                      </td>

                      <td>
                        <div *ngFor="let  key of reqData.address |  values; ">
                          <div *ngIf="key == 'address'">
                            <div *ngFor="let  subkey of reqData.address[key] |  values;">
                              {{reqData.address[key][subkey]}}
                            </div>
                          </div>
                        </div>
                      </td>
                      <!-- <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click)="editAssignedServiceExpert(reqData.id)">
                          Edit
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs" (click)="cancelRequest(reqData.id,reqData['expertDetails']['id'])">
                          Cancel Request
                        </button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="completed">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Date</th>
                      <th>Request Type</th>
                      <th>Service Expert</th>
                      <th>Place</th>
                      <!-- <th>Status</th> -->
                    </tr>

                    <tr *ngFor="let reqData of complatedReq | sortgrid: '-updatedAt'">
                      <!-- <div *ngFor = "let subReqData of reqData">
                                                              {{subReqData.date}}
                                                      </div> -->

                      <td>
                        {{reqData.updatedAt | date: 'dd/MM/yyyy'}}
                      </td>
                      <td>
                        <div *ngFor="let  key of reqData.requestData |  values; ">
                          <div *ngFor="let  subkey of reqData.requestData[key] |  values;">
                            {{subkey}}
                          </div>
                        </div>
                      </td>

                      <td *ngIf="reqData['expertDetails']">
                        {{ reqData['expertDetails']['firstName']}} {{ reqData['expertDetails']['lastName']}}
                      </td>

                      <td>
                        <div *ngFor="let  key of reqData.address |  values; ">
                          <div *ngIf="key == 'address'">
                            <div *ngFor="let  subkey of reqData.address[key] |  values;">
                              {{reqData.address[key][subkey]}}
                            </div>
                          </div>
                        </div>
                      </td>
                      <!-- <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click)="editAssignedServiceExpert(reqData.id)">
                          Edit
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" rel="tooltip" title="Generate Bill" class="btn btn-primary btn-xs" (click)="generateBill(reqData.id)">
                          Generate Bill
                        </button>&nbsp;&nbsp;&nbsp;
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs" (click)="cancelRequest(reqData.id,reqData['expertDetails']['id'])">
                          Cancel Request
                        </button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="tab-pane" id="Cancelled">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Date</th>
                      <th>Request Type</th>
                      <th>Service Expert</th>
                      <th>Place</th>
                      <!-- <th>Status</th> -->
                    </tr>

                    <tr *ngFor="let reqData of onCancellReq | sortgrid: '-updatedAt'">
                      <!-- <div *ngFor = "let subReqData of reqData">
                                                              {{subReqData.date}}
                                                      </div> -->

                      <td>
                        {{reqData.updatedAt | date: 'dd/MM/yyyy'}}
                      </td>
                      <td>
                        <div *ngFor="let  key of reqData.requestData |  values; ">
                          <div *ngFor="let  subkey of reqData.requestData[key] |  values;">
                            {{subkey}}
                          </div>
                        </div>
                      </td>

                      <td *ngIf="reqData['expertDetails']">
                        {{ reqData['expertDetails']['firstName']}} {{ reqData['expertDetails']['lastName']}}
                      </td>

                      <td>
                        <div *ngFor="let  key of reqData.address |  values; ">
                          <div *ngIf="key == 'address'">
                            <div *ngFor="let  subkey of reqData.address[key] |  values;">
                              {{reqData.address[key][subkey]}}
                            </div>
                          </div>
                        </div>
                      </td>
                      <!-- <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs" (click)="editAssignedServiceExpert(reqData.id)">
                          View
                        </button>&nbsp;&nbsp;&nbsp; -->
                      <!-- <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs" (click)= "cancelRequest(reqData.id,reqData['expertDetails']['id'])">
                                                          Cancel
                                                      </button> -->
                      <!-- </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header" data-background-color="red">
                      <h4 class="title">Table on Plain Background</h4>
                      <p class="category">Here is a subtitle for this table</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Name</th>
                                  <th>Salary</th>
                                  <th>Country</th>
                                  <th>City</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Dakota Rice</td>
                                  <td>$36,738</td>
                                  <td>Niger</td>
                                  <td>Oud-Turnhout</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Minerva Hooper</td>
                                  <td>$23,789</td>
                                  <td>Curaçao</td>
                                  <td>Sinaai-Waas</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Sage Rodriguez</td>
                                  <td>$56,142</td>
                                  <td>Netherlands</td>
                                  <td>Baileux</td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>Philip Chaney</td>
                                  <td>$38,735</td>
                                  <td>Korea, South</td>
                                  <td>Overland Park</td>
                              </tr>
                              <tr>
                                  <td>5</td>
                                  <td>Doris Greene</td>
                                  <td>$63,542</td>
                                  <td>Malawi</td>
                                  <td>Feldkirchen in Kärnten</td>
                              </tr>
                              <tr>
                                  <td>6</td>
                                  <td>Mason Porter</td>
                                  <td>$78,615</td>
                                  <td>Chile</td>
                                  <td>Gloucester</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div> -->
    </div>
  </div>
</div>