<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Generate Bill</h4>
          </div>
          <div class="card-content">
                  <form [formGroup]="billForm" (ngSubmit)="generateBill()">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group form-black label-floating is-empty">
                                  <label class="control-label">Name</label>
                                  <input type="text" class="form-control" formControlName="username" >
                                  <div class="error" *ngIf="billForm.get('username').hasError('required') && billForm.get('username').touched">Name is required</div>
                                  <!-- <div class="error" *ngIf="userProfileForm.get('firstName').hasError('pattern') && userProfileForm.get('firstName').touched">Alphates only</div> -->
                              </div>
                          </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Request Id</label>
                                      <input type="text" class="form-control" formControlName="requestid" readonly>
                                      <div class="error" *ngIf="billForm.get('requestid').hasError('required') && billForm.get('requestid').touched">Request Id is required</div>
                                      <!-- <div class="error" *ngIf="userProfileForm.get('lastName').hasError('pattern') && userProfileForm.get('lastName').touched">Alphates only</div> -->
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Description</label>
                                      <input type="text" class="form-control" formControlName="requestdescription">
                                      <div class="error" *ngIf="billForm.get('requestdescription').hasError('required') && billForm.get('requestdescription').touched">Request description is required</div>
                                      <!-- <div class="error" *ngIf="userProfileForm.get('lastName').hasError('pattern') && userProfileForm.get('lastName').touched">Alphates only</div> -->
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Expert Cost</label>
                                      <input type="text" class="form-control" formControlName="expertcost">
                                      <div class="error" *ngIf="billForm.get('expertcost').hasError('required') && billForm.get('expertcost').touched">Expert cost  is required</div>
                                      <!-- <div class="error" *ngIf="userProfileForm.get('lastName').hasError('pattern') && userProfileForm.get('lastName').touched">Alphates only</div> -->
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">CGST</label>
                                      <input type="text" class="form-control" formControlName="CGST" readonly>
                                      <div class="error" *ngIf="billForm.get('CGST').hasError('required') && billForm.get('CGST').touched">CGST  is required</div>
                                      <!-- <div class="error" *ngIf="userProfileForm.get('lastName').hasError('pattern') && userProfileForm.get('lastName').touched">Alphates only</div> -->
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">SGST</label>
                                      <input type="text" class="form-control" formControlName="SGST" readonly>
                                      <div class="error" *ngIf="billForm.get('SGST').hasError('required') && billForm.get('SGST').touched">SGST   is required</div>
                                      <!-- <div class="error" *ngIf="userProfileForm.get('lastName').hasError('pattern') && userProfileForm.get('lastName').touched">Alphates only</div> -->
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Total cost</label>
                                      <input type="text" class="form-control" formControlName="totalcost" readonly>
                                      <div class="error" *ngIf="billForm.get('totalcost').hasError('required') && billForm.get('totalcost').touched">Toatal cost  is required</div>
                                      <!-- <div class="error" *ngIf="userProfileForm.get('lastName').hasError('pattern') && userProfileForm.get('lastName').touched">Alphates only</div> -->
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-danger pull-left" [disabled]="!billForm.valid">Submit</button>
                          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                