<div *ngIf="isAuth">
    <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/doortasklogo.png" />
            </div>
            DoorTask
        </a>
    </div>
    <div class="sidebar-wrapper">
        <!--<form class="navbar-form navbar-right" role="search" *ngIf="isMobileMenu()">
            <div class="form-group form-black is-empty">
                <input type="text" class="form-control" placeholder="Search">
                <span class="material-input"></span>
            </div>
            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i><div class="ripple-container"></div>
            </button>
        </form>-->

        <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
            <!--<li>
                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">dashboard</i>
                    <p class="hidden-lg hidden-md">Dashboard</p>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p class="hidden-lg hidden-md">Notifications</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Mike John responded to your email</a></li>
                    <li><a href="#">You have 5 new tasks</a></li>
                    <li><a href="#">You're now friend with Andrew</a></li>
                    <li><a href="#">Another Notification</a></li>
                    <li><a href="#">Another One</a></li>
                </ul>
            </li>-->
            <li>
                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">person</i>
                    <p class="">Admin</p>
                </a>
            </li>
        </ul>

        <div class="nav-container" *ngIf="isAdmin">
            <ul class="nav">
                <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                    <a [routerLink]="[menuItem.path]">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        <p>{{menuItem.title}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-container" *ngIf="!isAdmin">
            <ul class="nav">
                <li routerLinkActive="active">
                    <a routerLink="superadmin">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="createadmin">
                        <i class="material-icons">add</i>
                        <p>Admin</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="vendorsdashboard">
                        <i class="material-icons">list</i>
                        <p>Vendor</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="createchannelpartener">
                        <i class="material-icons">add</i>
                        <p>Channel Partener</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="allservicerequest/new">
                        <i class="material-icons">content_paste</i>
                        <p>Service Requests</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>