<body oncopy="return false" oncut="return false" onpaste="return false">
    <div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Users</p>
                            <h3 class="title">{{allUsers.length}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">history</i> <a routerLink="/icons">{{NewUsers.length}}
                                    New Today</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">book</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Service Request</p>
                            <h3 class="title">{{allRequest.length}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours {{NewUsersRequest.length}} New Request
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">assignment_ind</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Service Experts</p>
                            <h3 class="title">{{allServiceExperts.length}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i>1 new Added
                            </div>
                        </div>
                    </div>
                </div> -->

                <!--<div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">notifications</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Notifications</p>
                            <h3 class="title">+245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>

            <!-- <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="green">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Daily Sales</h4>
                            <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="ct-chart" id="emailsSubscriptionChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Email Subscriptions</h4>
                            <p class="category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="red">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Completed Tasks</h4>
                            <p class="category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-nav-tabs">
                        <div class="card-header">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Service Requests:</span>
                                    <button routerLink="/servicerequests/new" style="float:right;background-color:#FFF;color:#942dae" type="button" rel="tooltip"
                                        title="Edit Task" class="btn btn-primary btn-xs">View
                                        all</button>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li>
                                            <a>
                                                <!--<i class="material-icons">add</i>-->
                                                New Requests ({{newReq}})
                                                <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a>
                                                <i class="material-icons">check</i>
                                                Assigned ({{Assigned}})
                                                <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a>
                                                <i class="material-icons">cloud_done</i>
                                                Ongoing or Completed ({{complatedReq}})
                                                <div class="ripple-container"></div></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--<div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="new">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Date</th>
                                                <th>Request Type</th>
                                                <th>Place</th>
                                                <th>Status</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    03/10/17
                                                </td>
                                                <td>Electricty Repair</td>
                                                <td>Siligudi</td>
                                                <td class="td-actions text-right">
                                                    <button routerLink="/typography" type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">
                                                        Assign Now
                                                    </button>&nbsp;&nbsp;&nbsp;
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs">
                                                       Cancel
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    03/10/17
                                                </td>
                                                <td>Electricty Repair</td>
                                                <td>Siligudi</td>
                                                <td class="td-actions text-right">
                                                    <button routerLink="/typography" type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">
                                                        Assign Now
                                                    </button>&nbsp;&nbsp;&nbsp;
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs">
                                                       Cancel
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    03/10/17
                                                </td>
                                                <td>Electricty Repair</td>
                                                <td>Siligudi</td>
                                                <td class="td-actions text-right">
                                                    <button routerLink="/typography" type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">
                                                        Assign Now
                                                    </button>&nbsp;&nbsp;&nbsp;
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs">
                                                       Cancel
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    03/10/17
                                                </td>
                                                <td>Electricty Repair</td>
                                                <td>Siligudi</td>
                                                <td class="td-actions text-right">
                                                    <button routerLink="/typography" type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">
                                                        Assign Now
                                                    </button>&nbsp;&nbsp;&nbsp;
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs">
                                                       Cancel
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="assigned">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Date</th>
                                                <th>Request Type</th>
                                                <th>Service Expert</th>
                                                <th>Place</th>
                                                <th>Status</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    03/10/17
                                                </td>
                                                <td>Electricty Repair</td>
                                                <td>Rakesh Roy</td>
                                                <td>Siligudi</td>
                                                <td class="td-actions text-right">
                                                    <button routerLink="/typography" type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">
                                                        Edit
                                                    </button>&nbsp;&nbsp;&nbsp;
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-xs">
                                                       Cancel
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="ongoing">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Date</th>
                                                <th>Request Type</th>
                                                <th>Service Expert Assigned</th>
                                                <th>Place</th>
                                                <th>Status</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    03/10/17
                                                </td>
                                                <td>Electricty Repair</td>
                                                <td>Rakesh Roy</td>
                                                <td>Siligudi</td>
                                                <td class="td-actions text-right" style="color:red">
                                                   
                                                    Ongoing
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <!-- <div class="card-header">
                            <h4 class="title">Experts Status</h4>
                            <p class="category">
                                <button routerLink="/addemployee" style="background-color:#fff;color:#942dae" type="button" rel="tooltip" title="Edit Task"
                                    class="btn btn-primary btn-xs">Add New</button>
                                <button routerLink="/serviceemployeedashboard" style="background-color:#fff; color:#942dae" type="button" rel="tooltip" title="Edit Task"
                                    class="btn btn-primary btn-xs">View All</button>
                            </p>
                        </div> -->
                        <!-- <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Name</th>
                                        <th>Service Type</th>
                                        <th>Phone No.</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor ="let experts of allServiceExperts | values">
                                                    <td>{{allServiceExperts[experts]['firstName']}}  {{allServiceExperts[experts]['lastName']}}</td>
                                                    <td>{{allServiceExperts[experts]['expertIn']}}</td>
                                                    <td>{{allServiceExperts[experts]['mobileNumber']}}</td>
                                                    <td style="color:green" *ngIf = "allServiceExperts[experts]['availableStatus'] == 'Available'">Available</td>
                                                    <td style="color:red" *ngIf = "allServiceExperts[experts]['availableStatus'] == 'Assigned'">Assigned</td>
                                                    <td><button routerLink="/service-expert/{{allServiceExperts[experts]['id']}}" style="background-color:#ffa726"type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">View</button></td>
                                                    <td><button routerLink="/expertreport/{{allServiceExperts[experts]['id']}}" style="background-color:#ffa726"type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">View Report</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="title">Vendors List</h4>
                            <p class="category">
                                <button routerLink="/createvendor" style="background-color:#fff;color:#942dae" type="button" rel="tooltip" title="Edit Task"
                                    class="btn btn-primary btn-xs">Add New</button>
                                <button routerLink="/vendorsdashboard" style="background-color:#fff; color:#942dae" type="button" rel="tooltip" title="Edit Task"
                                    class="btn btn-primary btn-xs">View All</button>
                            </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


</body>