<div class="main-content">
  <div class="my-container">
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Create Channel Partener</h4>
          </div>
          <div class="card-content">
            <form [formGroup]="userProfileForm" (ngSubmit)="saveExpertProfile()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div class="error" *ngIf="userProfileForm.get('name').hasError('required') && userProfileForm.get('name').touched">Name
                      is required</div>
                    <!-- <div class="error" *ngIf="userProfileForm.get('name').hasError('pattern') && userProfileForm.get('name').touched">Alphabets only</div>  -->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Location</label>
                    <select class="form-control" formControlName="location">
                      <option *ngFor="let item of location" [value]="item">{{item}}</option>
                    </select>
                    <div class="error" *ngIf="userProfileForm.get('location').hasError('required') && userProfileForm.get('location').touched">
                      Please select location</div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right" [disabled]="!userProfileForm.valid">Submit</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>