.card-header {
    background-color :#673ab7;
}
.btn-primary {
    background-color: #673ab7 !important;
}
.nav-tabs-title{
    color: #f5f2f8;
    font-weight: bold;
}
.nav {
    background-color :#673ab7;

}