<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Service Employee</h4>
            <p class="category">
              <button routerLink="/addemployee" style="background-color:#fff;color:#942dae" type="button" rel="tooltip" title="Edit Task"
                  class="btn btn-primary btn-xs">Add New</button>
              <!-- <button routerLink="/serviceemployeedashboard" style="background-color:#fff; color:#942dae" type="button" rel="tooltip" title="Edit Task"
                  class="btn btn-primary btn-xs">View All</button> -->
          </p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <!-- <thead class="text-danger"> -->
                <tr>
                  <th>Name</th>
                  <th>Service Type</th>
                  <th>Phone No.</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              <!-- </thead> -->
              <tbody>
                <tr *ngFor="let experts of allServiceExperts | values">

                  <!-- <td>{{allServiceExperts[experts]['id']}}</td> -->
                  <td>{{allServiceExperts[experts]['firstName']}} {{allServiceExperts[experts]['lastName']}}</td>
                  <td>{{allServiceExperts[experts]['expertIn']}}</td>
                  <td>{{allServiceExperts[experts]['mobileNumber']}}</td>
                  <td style="color:green" *ngIf="allServiceExperts[experts]['availableStatus'] == 'Available'">Available</td>
                  <td style="color:red" *ngIf="allServiceExperts[experts]['availableStatus'] == 'Assigned'">Assigned</td>
                  <td><button routerLink="/service-employee/{{allServiceExperts[experts]['id']}}" 
                      type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">View</button></td>
                  <!-- <td><button routerLink="/expertreport/{{allServiceExperts[experts]['id']}}"
                      type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-xs">View Report</button></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>