.form-group input[type=file]{
    width: 16% !important;
}
 .imgs ul{
     width: 60%;
 }

 .imgs ul li{
     margin: 8px;
     display: inline-block;
     width: 30%;
 }

 .error{
     color: red;
 }
 .card-header {
    background-color :#673ab7;
}
.btn-primary {
    background-color: #673ab7 !important;
}