<div class="main-content">
  <div class="my-container">
      <ngx-loading [show]="loading"></ngx-loading>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="title">Service Vendors Profile</h4>
                  </div>
                  <div class="card-content">
                      <form [formGroup]="userProfileForm" (ngSubmit)="saveExpertProfile()">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">First Name</label>
                                      <input type="text" class="form-control" formControlName="firstName">
                                      <div class="error" *ngIf="userProfileForm.get('firstName').hasError('required') && userProfileForm.get('firstName').touched">First
                                          name is required</div>
                                      <!-- <div class="error" *ngIf="userProfileForm.get('firstName').hasError('pattern') && userProfileForm.get('firstName').touched">Alphates only</div> -->
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Last Name</label>
                                      <input type="text" class="form-control" formControlName="lastName">
                                      <div class="error" *ngIf="userProfileForm.get('lastName').hasError('required') && userProfileForm.get('lastName').touched">Last
                                          name is required</div>
                                      <!-- <div class="error" *ngIf="userProfileForm.get('lastName').hasError('pattern') && userProfileForm.get('lastName').touched">Alphates only</div> -->
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Mobile No.</label>
                                      <input type="text" class="form-control" formControlName="mobileNumber">
                                      <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('required') && userProfileForm.get('mobileNumber').touched">Phone
                                          Number is required</div>
                                      <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('pattern') && userProfileForm.get('mobileNumber').touched">
                                      Numbers Only </div>
                                      <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('minlength') && userProfileForm.get('mobileNumber').touched">
                                      Minimum of 10 characters </div>
                                      <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('maxlength') && userProfileForm.get('mobileNumber').touched">
                                      Maximum of 10 characters </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating ">
                                      <label class="control-label">Date of Birth</label>
                                      <input type="date" class="form-control" formControlName="dateOfBirth" [(ngModel)]="todayDate">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating ">
                                      <label class="control-label">Gender</label>
                                      <label class="center-block"><input type="radio" formControlName="gender" value="Male"
                                              checked>Male</label>
                                      <label class="center-block"><input type="radio" formControlName="gender" value="Female">Female</label>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Adress</label>
                                      <input type="text" class="form-control" formControlName="address">
                                      <div class="error" *ngIf="userProfileForm.get('address').hasError('required') && userProfileForm.get('address').touched">Address
                                          is required</div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Adhar No.</label>
                                      <input type="text" class="form-control" formControlName="adharNumber">
                                      <div class="error" *ngIf="userProfileForm.get('adharNumber').hasError('pattern') && userProfileForm.get('adharNumber').touched">
                                      Numbers Only</div>
                                      <div class="error" *ngIf="userProfileForm.get('adharNumber').hasError('minlength') && userProfileForm.get('adharNumber').touched">
                                      Minimum of 12 characters </div>
                                      <div class="error" *ngIf="userProfileForm.get('adharNumber').hasError('maxlength') && userProfileForm.get('adharNumber').touched">
                                      Maximum of 12 characters </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Expert in?</label>
                                      <select class="form-control" formControlName="expertIn">
                                          <option *ngFor="let expertIn of expertServices" [value]="expertIn">{{expertIn}}</option>
                                      </select>
                                      <div class="error" *ngIf="userProfileForm.get('expertIn').hasError('required') && userProfileForm.get('expertIn').touched">
                                      Please select Expert in</div>

                                  </div>
                              </div>
                              <div class="col-md-4" *ngIf="Others">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Please Add Other Expert Area</label>
                                      <input type="text" class="form-control" formControlName="otherExpertizedFields">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Work Experience</label>
                                      <input type="text" class="form-control" formControlName="workExperience">
                                      <div class="error" *ngIf="userProfileForm.get('workExperience').hasError('pattern') && userProfileForm.get('workExperience').touched">
                                      Numbers Only</div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Additional</label>
                                      <div class="form-group form-black label-floating is-empty">
                                          <textarea class="form-control" rows="3" formControlName="additionalInfo"></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">

                                  <div>Upload verfication Doduments :<br>1.One passport size colour photo <br>2.adhar card
                                      copy/voter card copy<br>3.medical fitness certificate<br>4.work experience or skill
                                      certificate if any<br>5. Service expert application form with term and condition.</div><br>
                                  <div class="imgs">
                                      <ul>
                                          <li *ngFor="let src of ecodedFile">
                                              <img src="{{src}}" />
                                          </li>

                                      </ul>
                                  </div>
                                  <div class="form-group">
                                      <label><button class="btn btn-primary">Choose File</button>
                                          <input type="file" formControlName="file" accept="image/*" (change)="fileChange($event)" accept="image/*" multiple/>

                                      </label>
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-primary pull-right" [disabled]="!userProfileForm.valid">Submit</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <!-- <div class="card card-profile">
              <div class="card-avatar">
                  <a href="#pablo">
                      <img class="img" src="../assets/img/faces/marc.jpg" />
                  </a>
              </div>

              <div class="content">
                  <h6 class="category text-gray">CEO / Co-Founder</h6>
                  <h4 class="card-title">Alec Thompson</h4>
                  <p class="card-content">
                      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
              </div>
          </div> -->
          </div>
      </div>
  </div>
</div>








<!-- <div class="main-content">
  <div class="my-container">
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Vendors Profile</h4>
          </div>
          <div class="card-content">
            <form [formGroup]="userProfileForm" (ngSubmit)="saveExpertProfile()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName">
                    <div class="error" *ngIf="userProfileForm.get('firstName').hasError('required') && userProfileForm.get('firstName').touched">First
                      name is required</div>
                  
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName">
                    <div class="error" *ngIf="userProfileForm.get('lastName').hasError('required') && userProfileForm.get('lastName').touched">Last
                      name is required</div>
                  
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Mobile No.</label>
                    <input type="text" class="form-control" formControlName="mobileNumber">
                    <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('required') && userProfileForm.get('mobileNumber').touched">Phone
                      Number is required</div>
                    <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('pattern') && userProfileForm.get('mobileNumber').touched">
                      Numbers Only </div>
                    <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('minlength') && userProfileForm.get('mobileNumber').touched">
                      Minimum of 10 characters </div>
                    <div class="error" *ngIf="userProfileForm.get('mobileNumber').hasError('maxlength') && userProfileForm.get('mobileNumber').touched">
                      Maximum of 10 characters </div>
                  </div>
                </div>


              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Adress</label>
                    <input type="text" class="form-control" formControlName="address">
                    <div class="error" *ngIf="userProfileForm.get('address').hasError('required') && userProfileForm.get('address').touched">Address
                      is required</div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Expert in?</label>
                    <select class="form-control" formControlName="expertIn">
                      <option *ngFor="let expertIn of expertServices" [value]="expertIn">{{expertIn}}</option>
                    </select>
                    <div class="error" *ngIf="userProfileForm.get('expertIn').hasError('required') && userProfileForm.get('expertIn').touched">
                      Please select Expert in</div>

                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary pull-right" [disabled]="!userProfileForm.valid">Submit</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
 -->
